<web-app version="2.5" metadata-complete="true" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <display-name>ActiveMQ</display-name>
  <servlet>
    <description>Automated generated Portlet Wrapper</description>
    <display-name>Pluto Wrapper for JMS Wizard Portlet</display-name>
    <servlet-name>JMSWizard</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>JMSWizard</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>Automated generated Portlet Wrapper</description>
    <display-name>Pluto Wrapper for JMS Portlet</display-name>
    <servlet-name>JMSServerManager</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>JMSServerManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>Automated generated Portlet Wrapper</description>
    <display-name>Pluto Wrapper for JMS Portlet</display-name>
    <servlet-name>JMSConnectorManager</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>JMSConnectorManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JMSWizard</servlet-name>
    <url-pattern>/PlutoInvoker/JMSWizard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JMSServerManager</servlet-name>
    <url-pattern>/PlutoInvoker/JMSServerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JMSConnectorManager</servlet-name>
    <url-pattern>/PlutoInvoker/JMSConnectorManager</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>activemq</web-resource-name>
      <url-pattern>/</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>geronimo-admin</realm-name>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <!--Automatically created by Apache Tomcat JspC.
Place this fragment in the web.xml before all icon, display-name,
description, distributable, and context-param elements.-->
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.destination_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.destination_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.destinationType_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.destinationType_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.factory_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.factory_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.factoryType_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.factoryType_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.list_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.list_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.plan_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.plan_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.provider_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.provider_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.raInstance_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.raInstance_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.status_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmswizard.status_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.connectionhelp_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.connectionhelp_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.createdestination_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.createdestination_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.edit_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.edit_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.help_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.help_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.statistics_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.statistics_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.view_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.view_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.viewDLQ_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.viewDLQ_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.viewmessages_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.viewmessages_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.help_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.server.help_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.maximized_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.server.maximized_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.normal_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.server.normal_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.editGeneric_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.server.connector.editGeneric_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.help_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.server.connector.help_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.maximized_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.server.connector.maximized_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.normal_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.server.connector.normal_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.addACF_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.activemq.addACF_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.config_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.activemq.config_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.detail_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.activemq.detail_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.help_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.activemq.help_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.normal_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.jmsmanager.activemq.normal_jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.destination_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/destination.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.destinationType_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/destinationType.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.factory_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/factory.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.factoryType_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/factoryType.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.list_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/list.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.plan_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/plan.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.provider_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/provider.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.raInstance_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/raInstance.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmswizard.status_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmswizard/status.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.connectionhelp_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/connectionhelp.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.createdestination_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/createdestination.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.edit_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/edit.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.help_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/help.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.statistics_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/statistics.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.view_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/view.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.viewDLQ_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/viewDLQ.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.viewmessages_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/viewmessages.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.help_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/server/help.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.maximized_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/server/maximized.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.normal_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/server/normal.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.editGeneric_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/server/connector/editGeneric.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.help_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/server/connector/help.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.maximized_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/server/connector/maximized.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.server.connector.normal_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/server/connector/normal.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.addACF_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/activemq/addACF.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.config_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/activemq/config.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.detail_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/activemq/detail.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.help_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/activemq/help.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.jmsmanager.activemq.normal_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/jmsmanager/activemq/normal.jsp</url-pattern>
  </servlet-mapping>
  <!--All session-config, mime-mapping, welcome-file-list, error-page, taglib,
resource-ref, security-constraint, login-config, security-role,
env-entry, and ejb-ref elements should follow this fragment.-->
</web-app>