<web-app version="2.5" metadata-complete="true" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <display-name>Geronimo Management Console Portlets</display-name>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>classes</param-name>
      <param-value>org.apache.geronimo.console.ajax.ProgressMonitor,
            org.apache.geronimo.console.ajax.ProgressInfo</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <!--For security reasons requests to the dwr servlet go through
    the "/console" web-app context. The purpose of dwr-filter is
    to map the attributes such as pathInfo, requestURI, etc. of
    the original request into the request that is delivered to
    the dwr-invoker servlet.  The dwr-invoker servlet uses those
    attributes to create URLs that it sends back to the client.-->
  <filter>
    <filter-name>dwr-filter</filter-name>
    <filter-class>org.apache.geronimo.console.servlet.ForwardDispatchFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>dwr-filter</filter-name>
    <servlet-name>dwr-invoker</servlet-name>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr4/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>car-export</servlet-name>
    <servlet-class>org.apache.geronimo.console.car.CARExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>car-export</servlet-name>
    <url-pattern>/car-export</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>maven-repo</servlet-name>
    <servlet-class>org.apache.geronimo.console.car.GeronimoAsMavenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>maven-repo</servlet-name>
    <url-pattern>/maven-repo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plan-export</servlet-name>
    <servlet-class>org.apache.geronimo.console.configmanager.PlanExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>plan-export</servlet-name>
    <url-pattern>/plan-export</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deployment</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>Deployment</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deployment</servlet-name>
    <url-pattern>/PlutoInvoker/Deployment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportExport</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>ImportExport</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExport</servlet-name>
    <url-pattern>/PlutoInvoker/ImportExport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssembleServer</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>AssembleServer</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssembleServer</servlet-name>
    <url-pattern>/PlutoInvoker/AssembleServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePlugin</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>CreatePlugin</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePlugin</servlet-name>
    <url-pattern>/PlutoInvoker/CreatePlugin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RealmWizard</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>RealmWizard</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealmWizard</servlet-name>
    <url-pattern>/PlutoInvoker/RealmWizard</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name/>
      <!--<url-pattern>/</url-pattern>-->
      <url-pattern>/PlutoInvoker/*</url-pattern>
      <url-pattern>/dwr4/*</url-pattern>
      <url-pattern>/car-export</url-pattern>
      <url-pattern>/maven-repo/*</url-pattern>
      <url-pattern>/plan-export</url-pattern>
      <url-pattern>/graphs/*</url-pattern>
      <url-pattern>/ajax/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>geronimo-admin</realm-name>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <!--Automatically created by Apache Tomcat JspC.
Place this fragment in the web.xml before all icon, display-name,
description, distributable, and context-param elements.-->
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.advanced_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.advanced_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.configure_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.configure_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.edit_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.edit_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.list_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.list_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.selectType_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.selectType_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.showPlan_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.showPlan_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.testLogin_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.testLogin_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.testResults_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.testResults_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.usage_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard.usage_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard._005fsql_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.realmwizard._005fsql_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.configmanager.deploy_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.configmanager.deploy_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.configmanager.deployHelp_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.configmanager.deployHelp_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.addRepository_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.addRepository_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.assemblyConfirm_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.assemblyConfirm_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.assemblyIndex_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.assemblyIndex_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.assemblylist_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.assemblylist_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.confirmExport_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.confirmExport_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.createPluginIndex_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.createPluginIndex_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.downloadStatus_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.downloadStatus_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.index_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.index_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.list_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.list_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.pluginParams_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.pluginParams_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.results_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.results_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.car.viewForDownload_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.car.viewForDownload_jsp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jsp.WEB_002dINF.view.ajax.progressbar_jsp</servlet-name>
    <servlet-class>jsp.WEB_002dINF.view.ajax.progressbar_jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.advanced_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/advanced.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.configure_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/configure.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.edit_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/edit.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.list_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/list.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.selectType_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/selectType.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.showPlan_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/showPlan.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.testLogin_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/testLogin.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.testResults_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/testResults.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard.usage_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/usage.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.realmwizard._005fsql_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/realmwizard/_sql.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.configmanager.deploy_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/configmanager/deploy.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.configmanager.deployHelp_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/configmanager/deployHelp.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.addRepository_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/addRepository.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.assemblyConfirm_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/assemblyConfirm.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.assemblyIndex_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/assemblyIndex.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.assemblylist_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/assemblylist.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.confirmExport_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/confirmExport.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.createPluginIndex_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/createPluginIndex.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.downloadStatus_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/downloadStatus.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.index_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.list_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/list.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.pluginParams_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/pluginParams.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.results_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/results.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.car.viewForDownload_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/car/viewForDownload.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp.WEB_002dINF.view.ajax.progressbar_jsp</servlet-name>
    <url-pattern>/WEB-INF/view/ajax/progressbar.jsp</url-pattern>
  </servlet-mapping>
  <!--All session-config, mime-mapping, welcome-file-list, error-page, taglib,
resource-ref, security-constraint, login-config, security-role,
env-entry, and ejb-ref elements should follow this fragment.-->
</web-app>